.main-div {
  display: flex;
  font-size: 12px;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  height: 45px;
  background-color: #161616;
  border-radius: 25px;
  margin-top: 15px;
  box-shadow: 0px -4px 20px -4px rgba(0, 0, 0, 0.2);
}

.my-body {
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 5px;
  margin-left: 8%;
  p {
    margin: 0px;
    text-transform: uppercase;
    color: var(--ion-color-primary);
  }
  ion-icon {
    color: var(--ion-color-primary);
    padding: 5px;
    font-size: small;
    border: 1px solid var(--ion-color-primary);
    border-radius: 50%;
  }
}

.achievement {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  gap: 5px;
  margin-left: 5%;
  p {
    margin: 0px;
    text-transform: uppercase;
    color: var(--ion-color-primary);
  }
  ion-icon {
    color: var(--ion-color-primary);
    padding: 5px;
    font-size: small;
    border: 1px solid var(--ion-color-primary);
    border-radius: 50%;
  }
}
