.user-photo img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
  }

  .icon-div{
    background-color: lightgrey;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    display: grid;
    place-content: center;
    ion-icon{
      font-size: 55px;
      color: gray;
    }
  }

  .main-div{
    padding-left:50px ;
    display: flex;
    gap: 8px
  }

   .person{
    font-size: large;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .level{
    font-size: 14px;
    color: #9385ff;
    margin-top: 0px;
  }