ion-menu-button {
  color: var(--ion-color-dark);
}

.sc-ion-buttons-md-h {
  display: flew;
}

.logo-header {
  width: auto;
  max-height: 30px;
  padding-left: 1rem;
}


ion-toolbar{
  height: 25vh;
  border-bottom-right-radius:55px ;
  border-bottom-left-radius: 55px;
  background: #202020;
}

ion-header{
  box-shadow: none;
  
}

